.room{ 
    background-color:#f7f7f7;
    min-height: 100vh;
    padding: 25rpx 25rpx 0 25rpx;
    box-sizing: border-box;
}
.box{
    padding: 30rpx;
    box-sizing: border-box;
    border-radius: 20rpx;
    margin-top: 20rpx;
    background-color: #fff;
} 