.H5{ 
  .answer{
    height: 100%;
    .sm-btn{
      width: 180rpx;
      height: 64rpx;
      background: #ffffff;
      border-radius: 12rpx;
      border: 1px solid #dbf1d9;
    }
    .progress-box{
      background: rgba($color: #f5fcf4, $alpha: 0.9);
      padding: 40rpx;
      border-radius: 20rpx;
      width: 100%;
    }
    .answer-item {
      min-height: 86rpx;
    }
    @media screen and (max-width: $small-screen) {
      .box {
        padding-top: 40rpx;
      }
      .msg-box {
        flex: 1;
        padding-right: 90rpx;
        box-sizing: border-box;
      }
      .progress-box{
        padding: 10px 15px;
      }
      .answer-box {
      }
      .answer-item {
        border: none;
        width: 480rpx;
        padding: 0 20rpx;
        min-height: 116rpx;
        background: #F3F3F3;
      }
      .sm-btn {  
        padding: 0;
        width: 120rpx; 
        font-size: 22rpx;
        height: 58rpx;
      }
    }
  }
  
  .popup-content{
    font-size: 72rpx;
    box-shadow: unset;
    background: unset;
  }
  .goon-btn {
    width: 380rpx;
    height: 120rpx;
    border-radius: 70rpx;
  } 
  @media screen and (max-width: $small-screen) {
    .popup-content {
      font-size: 60rpx;
    }
  }

}
.H5{
  .answer-result{
    min-width: 1600rpx;
    .btn{   
      width: 160px;
      height: 55px;
      border-radius: 10px;
      position: absolute;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media screen and (max-width: $small-screen){
    .answer-result{
      min-width: auto;
    }
  }
}