var couponSendTypeRef = {
  "0": "限微商城使用",
  "4": "限线下门店使用",
  "5": "通用券"
}

function price_fixed(price) { 
  return Number(price)
}

function coupon_send_type(send_type) {
  send_type = Number(send_type);
  var typeStr = couponSendTypeRef[send_type + ""]
  return typeStr || ""
}
  
module.exports = {
  price_fixed: price_fixed,
  coupon_send_type: coupon_send_type
}