.goods_spec {
  .basic_input{
    width: 100px;
  }
  .spec_title {
    width: 120px;
    text-align: right;
    padding-right: 12px;
  }
  .spec_table {
    padding: 10px;
    border: 1px solid #e5e5e5;
    .sort_list {
      .sort_list_wrapper {
        position: relative;
        list-style: none;
        .handle {
          cursor: move;
          position: absolute;
          left: -8px;
          top: -8px;
          z-index: 2;
        }
      }
      &.size_sort_list{
        display: flex;
        flex-wrap: wrap;
      }
    }
    .spec_table_item {
      .close {
        cursor: pointer;
        display: none;
        float: right;
        padding-top: 4px;
      }

      .color_header,
      .size_header {
        width: 100%;
        padding: 7px 10px;
        margin: 0;
        background-color: #f8f8f8;
        font-weight: 400;

        .title {
          display: inline-block;
          margin: 0 10px;
        }

        .tips {
          color: #808695;
        }
      }

      .color_content {
        padding: 7px 10px;
        margin: 0;
        font-weight: 400;

        .title{
          width: 60px;
        }

        .color_value_wrapper {
          flex: 1 1 1200px;
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
        }
        .add {
          display: inline-block;
          height: 40px;
          line-height: 32px;
          margin-bottom: 10px;
          border: 1px solid #dcdee2;
          cursor: pointer;
        }
        .handle {
          cursor: move;
        }
      }
    }

    .spec_size_item:hover .close {
      display: inline-block;
    }
  }
}
