/* table */
.ivu-table {
  overflow: unset;
}


.grey-table .ivu-table th {
  background-color: #FBFBFB;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #171717;
  line-height: 22px;
}

  