* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    // user-select: none;
}

html,
body {
    height: 100%;
    line-height: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0 60px white inset;
    -webkit-text-fill-color: #878787;
}
/**/
.flex{
    display: flex;
}
.flex1{
    flex:1;
}
.f-just-end{
    justify-content: flex-end;
}
.f-just-between{
    justify-content: space-between;
}
.f-just-center{
    justify-content: center;
}
.f-align-center{
    align-items: center;
}
.f-shrink0{
    flex-shrink: 0;
}
.i-flex{
    display:inline-block;
}
.text-c{
    text-align: center;
}
.text-r{
    text-align:center;
}
.fs-0{
    font-size:0px;
}
.fs-18{
    font-size:18px;
}
.fs-20{
    font-size:20px;
}
.fw-bold{
    font-weight:bold;
}
