.MP{
  .answer{
    .answer-item {
      width: 630rpx;
      min-height: 106rpx;
      background: #FAFAFA;
      box-shadow: 0px 2rpx 17rpx 0px rgba(181,181,181,0.17);
      border-radius: 10rpx;
      font-size: 26rpx;
      border: 1px solid #EFEFEF;
    } 
  }
}